<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="15c502a0-dbd5-44d7-8a6d-0e8198de7f28" Alias="article" Level="3">
  <Info>
    <Name>article</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="0c3ac9e0-91de-4ddf-9f4b-ff30ac2b3554">articles</Parent>
    <Compositions>
      <Composition Key="0c3ac9e0-91de-4ddf-9f4b-ff30ac2b3554">articles</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>