<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e5657001-5d70-4e53-8b5d-35e6548b587d" Alias="title - title - [Contentment] Text Input" Level="1">
  <Info>
    <Name>title - title - [Contentment] Text Input</Name>
    <EditorAlias>Umbraco.Community.Contentment.TextInput</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "items": [],
  "autocomplete": "0",
  "spellcheck": "0"
}]]></Config>
</DataType>