<?xml version="1.0" encoding="utf-8"?>
<Media Key="cb77f2db-a56d-4a20-890a-c77c1f617f61" Alias="Back Office" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/BackOffice</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-08-08T07:02:16</CreateDate>
    <NodeName Default="Back Office" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties />
</Media>