<?xml version="1.0" encoding="utf-8"?>
<Media Key="993da213-e447-47b8-92f0-8d70beb9b399" Alias="Layouts" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Layouts</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-07-09T07:37:19</CreateDate>
    <NodeName Default="Layouts" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>