<?xml version="1.0" encoding="utf-8"?>
<Media Key="2dd0d0eb-076a-4ffa-8e79-47c4ac84d612" Alias="Logos" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Logos</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-08-24T10:49:01</CreateDate>
    <NodeName Default="Logos" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties />
</Media>