<?xml version="1.0" encoding="utf-8"?>
<Media Key="6a3139b8-a44f-4804-b641-5d4c766569a9" Alias="Miscellaneous" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Miscellaneous</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-07-15T14:43:13</CreateDate>
    <NodeName Default="Miscellaneous" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>