<?xml version="1.0" encoding="utf-8"?>
<Content Key="84854d9a-2898-40ea-8ed1-c1206ef9b946" Alias="article" Level="2">
  <Info>
    <Parent Key="1bfed644-a8e6-4a6b-89b6-c8416071691c">trang chủ</Parent>
    <Path>/trangChu/article</Path>
    <Trashed>false</Trashed>
    <ContentType>articles</ContentType>
    <CreateDate>2024-05-13T15:50:01</CreateDate>
    <NodeName Default="article" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <featurePropertyFeatureDescription>
      <Value><![CDATA[]]></Value>
    </featurePropertyFeatureDescription>
    <featurePropertyFeatureSummary>
      <Value><![CDATA[]]></Value>
    </featurePropertyFeatureSummary>
    <featurePropertyFeatureTitle>
      <Value><![CDATA[]]></Value>
    </featurePropertyFeatureTitle>
    <richTextContent>
      <Value><![CDATA[{
  "markup": "<p>cotent</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </richTextContent>
  </Properties>
</Content>