<?xml version="1.0" encoding="utf-8"?>
<Content Key="23b2aef5-c0fe-4430-aa5b-47e14ffbbe3c" Alias="content 1" Level="3">
  <Info>
    <Parent Key="84854d9a-2898-40ea-8ed1-c1206ef9b946">article</Parent>
    <Path>/trangChu/article/content1</Path>
    <Trashed>false</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2024-05-14T09:46:05</CreateDate>
    <NodeName Default="content 1" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <featurePropertyFeatureDescription>
      <Value><![CDATA[]]></Value>
    </featurePropertyFeatureDescription>
    <featurePropertyFeatureSummary>
      <Value><![CDATA[]]></Value>
    </featurePropertyFeatureSummary>
    <featurePropertyFeatureTitle>
      <Value><![CDATA[Giải Quyết Khó Khăn Trong Công Tác Quản Lý Giáo Dục]]></Value>
    </featurePropertyFeatureTitle>
    <richTextContent>
      <Value><![CDATA[{
  "markup": "<p>xem them tai day</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </richTextContent>
  </Properties>
</Content>