<?xml version="1.0" encoding="utf-8"?>
<Content Key="980a9fb0-5afb-4884-8679-40b11f22a6e3" Alias="Library mobile" Level="2">
  <Info>
    <Parent Key="1bfed644-a8e6-4a6b-89b6-c8416071691c">trang chủ</Parent>
    <Path>/trangChu/LibraryMobile</Path>
    <Trashed>false</Trashed>
    <ContentType>webPage</ContentType>
    <CreateDate>2024-05-03T15:14:21</CreateDate>
    <NodeName Default="Library mobile" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f5129417-39f2-458a-9948-58231594c98c">WebPage</Template>
  </Info>
  <Properties>
    <contentGrid>
      <Value><![CDATA[]]></Value>
    </contentGrid>
    <pageDescription>
      <Value><![CDATA[Library Mobie]]></Value>
    </pageDescription>
    <pageSettingsBackgroundImagePicker>
      <Value><![CDATA[[]]]></Value>
    </pageSettingsBackgroundImagePicker>
    <pageThumbnail>
      <Value><![CDATA[[]]]></Value>
    </pageThumbnail>
    <pageTitle>
      <Value><![CDATA[Library mobile]]></Value>
    </pageTitle>
    <pageTitleShort>
      <Value><![CDATA[Library Mobie]]></Value>
    </pageTitleShort>
  </Properties>
</Content>