<?xml version="1.0" encoding="utf-8"?>
<Content Key="8976e6fe-c38e-4f01-8748-00913c016e11" Alias="setting" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/setting</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2024-05-03T15:21:38</CreateDate>
    <NodeName Default="setting" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <copyright>
      <Value><![CDATA[© 2024 - Designed & Developed by PSC]]></Value>
    </copyright>
    <logo>
      <Value><![CDATA[[
  {
    "key": "3287233a-9072-4456-a026-38ae641fd14b",
    "mediaKey": "f83a10de-907a-457d-9bf5-c1e9f26e416e"
  }
]]]></Value>
    </logo>
    <mainNavigation>
      <Value><![CDATA[[
  {
    "udi": "umb://document/1bfed644a8e64a6b89b6c8416071691c",
    "key": "1bfed644-a8e6-4a6b-89b6-c8416071691c",
    "name": "trang chủ",
    "description": "/",
    "title": "trang chủ",
    "url": "/",
    "children": [],
    "icon": "icon-home color-black",
    "published": true,
    "naviHide": false,
    "culture": null,
    "itemType": "link"
  }
]]]></Value>
    </mainNavigation>
    <siteName>
      <Value><![CDATA[Thư viện ĐH Đồng Nai]]></Value>
    </siteName>
  </Properties>
</Content>