<?xml version="1.0" encoding="utf-8"?>
<Content Key="1cd7a501-3ead-4922-b8a0-eeafbfccea40" Alias="setting" Level="2">
  <Info>
    <Parent Key="1bfed644-a8e6-4a6b-89b6-c8416071691c">trang chủ</Parent>
    <Path>/trangChu/setting</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2024-05-03T10:38:47</CreateDate>
    <NodeName Default="setting" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <copyright>
      <Value><![CDATA[Designed & Developed by PSC]]></Value>
    </copyright>
    <logo>
      <Value><![CDATA[[
  {
    "key": "45724cdd-f7ba-47b5-9b65-b58f385aa7c4",
    "mediaKey": "f83a10de-907a-457d-9bf5-c1e9f26e416e"
  }
]]]></Value>
    </logo>
    <mainNavigation>
      <Value><![CDATA[[
  {
    "udi": "umb://document/1bfed644a8e64a6b89b6c8416071691c",
    "key": "1bfed644-a8e6-4a6b-89b6-c8416071691c",
    "name": "trang chủ",
    "description": "/",
    "title": "trang chủ",
    "url": "/",
    "children": [],
    "icon": "icon-home color-black",
    "published": true,
    "naviHide": false,
    "culture": null,
    "itemType": "link",
    "id": 1260
  },
  {
    "udi": "umb://document/980a9fb05afb4884867940b11f22a6e3",
    "key": "980a9fb0-5afb-4884-8679-40b11f22a6e3",
    "name": "Library mobile",
    "description": "/library-mobile/",
    "title": "Library mobile",
    "url": "/library-mobile/",
    "children": [],
    "icon": "icon-newspaper color-black",
    "published": true,
    "naviHide": false,
    "culture": null,
    "itemType": "link"
  },
  {
    "udi": "umb://document/65bd79974be84405a00db435f92fb859",
    "key": "65bd7997-4be8-4405-a00d-b435f92fb859",
    "name": "thời gian hoạt động",
    "description": "/thoi-gian-hoat-dong/",
    "title": "thời gian hoạt động",
    "url": "/thoi-gian-hoat-dong/",
    "children": [],
    "icon": "icon-newspaper color-black",
    "published": true,
    "naviHide": false,
    "culture": null,
    "itemType": "link"
  }
]]]></Value>
    </mainNavigation>
    <siteName>
      <Value><![CDATA[Thư viện ĐH Đồng Nai]]></Value>
    </siteName>
  </Properties>
</Content>