<?xml version="1.0" encoding="utf-8"?>
<Content Key="b6a03972-c94f-41b4-b6c4-ff26bac2535d" Alias="Thông báo Về việc thay đổi thời gian hoạt động phòng tự học từ ngày 23/4 đến ngày 25/4/2021" Level="102">
  <Info>
    <Parent Key="0e69448d-752e-4565-8452-3ef603d68969">topic</Parent>
    <Path>/[-20]/topic/ThongBaoVeViecThayDoiThoiGianHoatDongPhongTuHocTuNgay234DenNgay2542021</Path>
    <Trashed Parent="0e69448d-752e-4565-8452-3ef603d68969">true</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2024-05-13T09:05:45</CreateDate>
    <NodeName Default="Thông báo Về việc thay đổi thời gian hoạt động phòng tự học từ ngày 23/4 đến ngày 25/4/2021" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <featurePropertyFeatureDescription>
      <Value><![CDATA[]]></Value>
    </featurePropertyFeatureDescription>
    <featurePropertyFeatureSummary>
      <Value><![CDATA[]]></Value>
    </featurePropertyFeatureSummary>
    <featurePropertyFeatureTitle>
      <Value><![CDATA[]]></Value>
    </featurePropertyFeatureTitle>
    <richTextContent>
      <Value><![CDATA[{
  "markup": "<p>xem them tai day</p>\n<p>&nbsp;</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </richTextContent>
  </Properties>
</Content>