<?xml version="1.0" encoding="utf-8"?>
<Content Key="0e69448d-752e-4565-8452-3ef603d68969" Alias="topic" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/topic</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>articles</ContentType>
    <CreateDate>2024-05-13T08:35:54</CreateDate>
    <NodeName Default="topic" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <featurePropertyFeatureDescription>
      <Value><![CDATA[]]></Value>
    </featurePropertyFeatureDescription>
    <featurePropertyFeatureSummary>
      <Value><![CDATA[]]></Value>
    </featurePropertyFeatureSummary>
    <featurePropertyFeatureTitle>
      <Value><![CDATA[Thư viện ĐH Đồng Nai]]></Value>
    </featurePropertyFeatureTitle>
    <richTextContent>
      <Value><![CDATA[{
  "markup": "<p>topic</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </richTextContent>
  </Properties>
</Content>