<?xml version="1.0" encoding="utf-8"?>
<Content Key="da1a963b-0373-48ca-be51-c28a8420b33c" Alias="Trang chủ" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TrangChu</Path>
    <Trashed>false</Trashed>
    <ContentType>homepage</ContentType>
    <CreateDate>2024-05-02T14:34:15</CreateDate>
    <NodeName Default="Trang chủ" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="68bf418c-140b-4ad4-9e52-7f7dcfaeb375">Homepage</Template>
  </Info>
  <Properties />
</Content>