<?xml version="1.0" encoding="utf-8"?>
<Content Key="4fc3f53a-24cc-40ef-bd59-4a30ed7fa440" Alias="xxx" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/xxx</Path>
    <Trashed Parent="84854d9a-2898-40ea-8ed1-c1206ef9b946">true</Trashed>
    <ContentType>article</ContentType>
    <CreateDate>2024-05-13T15:51:33</CreateDate>
    <NodeName Default="xxx" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <featurePropertyFeatureDescription>
      <Value><![CDATA[]]></Value>
    </featurePropertyFeatureDescription>
    <featurePropertyFeatureSummary>
      <Value><![CDATA[]]></Value>
    </featurePropertyFeatureSummary>
    <featurePropertyFeatureTitle>
      <Value><![CDATA[Giải Quyết Khó Khăn Trong Công Tác Quản Lý Giáo Dục]]></Value>
    </featurePropertyFeatureTitle>
    <richTextContent>
      <Value><![CDATA[{
  "markup": "<p>axc ac</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </richTextContent>
  </Properties>
</Content>